<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- display title -->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- loop through messages array -->
    <% messages.forEach(function(message) { %>
    <div>
      <p><strong><%= message.user %>:</strong> <%= message.text %></p>
      <p>Added: <%= message.added %></p>
    </div>
    <% }); %>

    <!-- add a link to the "new" page -->
    <a href="/new">Add New Message</a>
  </body>
</html>
